/*先整体、在局部；边写边测；*/
.cacl{
	width:200px;
	border:1px solid #666;
	margin: 0 auto;
	padding:0.5em;
	font-size:30px;
	background:#D9E4F1;
}

input{
	height:60px;
	width:198px;
	border-radius:2px;
}

button{
	width:43px;
	height:33px;
}